.recipes-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* push everything below the navbar */
  padding-top: 180px;
  /* match your navbar height */
  width: 100%;
}

.recipe-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ff7043;

  gap: 5px;
}

.recipe-top-container h1 {
  margin-right: 50px;
}