.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* left/right on edges */
  width: 80%;
  height: 180px;
  margin: 0 auto;
  border-bottom: 1px solid #f37136;
  position: relative;
  /* needed for absolute centering of center */
  font-family: "Crimson Text", serif;
}

.container-center h1 {
  margin: 0;
}

.container-center {
  position: absolute;
  margin-bottom: 0;
  font-size: 20px;
  /* center container removed from flex flow */
  left: 50%;
  /* center horizontally */
  top: 50%;
  /* optional: vertical centering */
  transform: translate(-50%, -50%);
  /* perfect center */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f37136;
  font-family: "Crimson Text", serif;
}

.container-left-side,
.container-right-side {
  display: flex;
  gap: 50px;
  align-items: center;
  font-size: 0.6rem;
  color: #f37136;
}