.main-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin-top: 200px;
  background-color: #c3e2dc;
}

.generate-new-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: white;
  border-radius: 20px;
  height: 300px;
}

.landingPage-buttons:hover {
  transform: scale(1.05);
}