.main-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin-top: 200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #c3e2dc;
  font-family: "Crimson Text", serif;
}

.landingPage-buttons:hover {
  transform: scale(1.05);
}