.footer-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  color: black;
  background-color: #f37136;
  height: 300px;
  text-align: center;
  gap: 20px;
}

.footer-left-side,
.footer-right-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  cursor: pointer;
}

.footer-left-side h1:hover,
.footer-right-side h1:hover {
  transform: scale(1.05);
}

/* center section */
.footer-container>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MOBILE */
@media (max-width: 480px) {
  .footer-container {
    display: flex;
    /* switch to flex for easier stacking */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* pushes middle to bottom */
    min-height: 50px;
    /* give some height so bottom works */
    padding: 30px 10px;
  }

  .footer-left-side,
  .footer-right-side {
    flex-direction: column;
    padding: 20px;
    font-size: 1rem;
  }

  .footer-left-side h1,
  .footer-right-side h1 {
    font-size: 1rem;
  }

  .footer-container>div:nth-child(2) {
    margin-top: auto;
    /* push center section to bottom */
    margin-bottom: 0;
  }
}